# Python Distribution Package Requirements for PYMA.
#
# Source:: https://github.com/ampledata/pyma
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2016 Dominik Heidler
# License:: GNU General Public License, Version 3


flake8
pylint
